@model SIPERPUS.Models.Jurusan

@{
    ViewData["Title"] = ViewData["title"];
}

<h4>@ViewData["title_page"]</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3 row">
                <label for="nama" class="col-sm-2 col-form-label">Nama</label>
                <div class="col-sm-10">
                    <input asp-for="nama" class="form-control" />
                    <span asp-validation-for="nama" class="text-danger"></span>
                </div>
            </div>

            <button type="submit" class="btn btn-primary float-end"><i class="fas fa-save"></i> Save</button>
            <a asp-action="Index" class="btn btn-secondary float-end me-2"><i class="fas fa-long-arrow-alt-left"></i>
                Back</a>
        </form>
    </div>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
